.chat{
  width: 90%; margin: 30px; height: 500px;
}
.App {
  text-align: center;
  background-color: transparent;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.btnImg {
    display: inline-block;
    height: 70px;
    margin: auto;
    border-radius: 15px;
    width: 70px;
    background-color: transparent;
}
.imgBtn {
    display: block;
    height: 55px;
    width: 55px;
}
.listao{
  display: inline-block;
  padding: 5px;
}
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

#page-numbers {
  list-style: none;
  display: flex;
  justify-content: center;
}
.number-selected {
  font-family: 'Concert One', cursive;
  color: #00A0D8;
  margin-right: 0.3em;
    user-select: auto;
    cursor: pointer;
    border-bottom: solid;
    border-top: solid;
    border-width: 1px;
    border-radius: 10%;
    border-color: #00A0D8;
    font-size: 2em;
    padding: 1em;
}
.number {
  font-family: 'Concert One', cursive;
  color: black;
  margin-right: 0.3em;
    color: black;
    user-select: auto;
    cursor: pointer;
    border-bottom: solid;
    border-top: solid;
    border-width: 1px;
    border-radius: 10%;
    border-color: black;
    font-size: 2em;
    padding: 1em;
}
.number:hover{
  background-color: #C2C2C2;
}
.carta {
  border-radius: 25px;
  border-color: black;
}
label {
  color:#041527;
  font-size:1.5vw;
}
.form-control{
  border-color: #00A0D8;
}

.form-control:focus {
  border-color: #01DF3A;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
table {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    background-color: #D9D9D9;
      -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
  filter: shadow(color=#999999, direction=135, strength=2);
}
th {
    color: #162238;
    text-align: center;
}
th, td {
    text-align: center;
    color: #162238;
}
.tdiv {
  overflow-x: auto;

}
.square {
  border: 1px solid #999;
  text-align: center;
  width: 100%;
  height: 82px;

}
.container-block {
  float: center;
  text-align: center;
  margin: auto;
  margin-left: 30%;
  margin-right: auto;
}
.container {
  text-align: center;
  float: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
.container-left {
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
.block {
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  float: center;
}

.cosasBarra {
  margin: auto;
  overflow:hidden;
}
.barra{
  background: #00A0D8;
  width: 100%;
  position: fixed;
  z-index: 10;
  float: center;
}
.hIem {
  color:#041527;
  font-family: 'Concert One', cursive;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: hidden;  
  max-height: 50px;
}
.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}
.carousel .slide img {
    max-height: 500px;  /* change this to whatever you want */
    width: 700px;
    font-size: 40px;
}
.table{
  background-color: #00A0D8;
}
.userName{
  color:  #fff;
}
.useri{
  float: right;
  margin-right: 70px;
  padding-top: 15px;
  display: flex;
   justify-content: center;
   align-items: center;

}
.fifty{
  width: 50%;
}
.btnFor{
   display: flex;
   justify-content: center;
   align-items: center;
 }
.izq{
  float: left;
  margin-left: 120px;
  font-size: 30px;
}
.der{
  margin-top:7%;
  float: right;
}
.tex{
  font-size: 30px;
}
.q{
  height: 45px;
  margin-bottom: 3%;
}
.btnOferta{
  border-radius: 8px;
  background-color: #00A0D8;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 40px;
    width: 240px;
    font-family: 'Concert One', cursive;
    font-size: 22px;
    margin-right: 8px;
    float: left;
}
.btnNueva{
  border-radius: 8px;
  margin-right: 10px;
  background-color: #00A0D8;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 40px;
    width: 180px;
    font-family: 'Concert One', cursive;
    font-size: 22px;
    text-align: center;
    float: right;
}
.btnNueva:hover{
  background-color: #28D160;
}
.btnSelec{
  border-radius: 8px;
  background-color: #28D160;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 40px;
    width: 240px;
    font-family: 'Concert One', cursive;
    font-size: 22px;
    margin-right: 8px;
    float: left;
}
.btnReg{
  border-radius: 8px;
  background-color: white;
  color: #00A0D8;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 40px;
    width: 140px;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    margin-right: 8px;
}
.btnReg:hover {
    background-color: #28D160;
    color: #fff;
}
.btnCerrarSesion{
    border-radius: 8px;
  background-color: white;
  color: #00A0D8;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 40px;
    width: 140px;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    margin-right: 8px;
}
.btnCerrarSesion:hover {
    background-color: #FCAFB8;
    color: #000;
}
.btnNormal{
  border-radius: 8px;
  background-color: #00A0D8;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 40px;
    width: auto;
}
.btnNormal:hover {
    background-color: #CFDBE5;
}
.btnLis2{
  border-radius: 10px;
  background-color:#28D160;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  font-family: 'Concert One', cursive;
    transition-duration: 0.4s;
    height: 40px;
    width: 220px;
    font-size: 20px;
    margin-right: 5px;
}
.btnLis2:hover {
    background-color: #A2FCBC;
    color:#000;
}
.btnLis{
  border-radius: 10px;
  background-color:#28D160;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  font-family: 'Concert One', cursive;
    transition-duration: 0.4s;
    height: 40px;
    width: 190px;
    font-size: 20px;
    margin-right: 5px;
}
.btnLis:hover {
    background-color: #A2FCBC;
    color:#000;
}
.letra{
  font-family: 'Concert One', cursive;
  font-size: 27px;
  float: left;
}
.errorMsg{
  color:#FA5858;
}
.btnOut{
  border-radius: 10px;
  background-color:#CE7885;
  font-family: 'Concert One', cursive;
  color: white;
    height: 40px;
    width: 120px;
    font-size: 20px;
}
.btnOut:hover {
    background-color: #FCAFB8;
    color:#000;
}
.alineado{
  display: inline;
}
.cnt{
    display: flex;
   justify-content: center;
   align-items: center;
}

nav {
  float: center;
  text-align: center;
  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
  filter: shadow(color=#999999, direction=135, strength=2);
}
nav ul {
  list-style: none;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 40px;
}
nav ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;

}
a{
  display: block;
  color: #fff;
  text-decoration: none;
  float: left;
  font-family: 'Concert One', cursive;
  font-size: 40px;
  margin-left: 60px;
  padding: 10px;
  list-style: none;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  color:#fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
h1{
  color: #fff;
}
h2{
  color: #fff;
}
h3{
  font-size: 22px;
  text-align: justify;
  font-family: 'Kalam', cursive;
  color: #fff;
  padding: 25px;
}
